.jumbotron {
  padding-top: 6rem;
  background-color: #e2edff;
}

#Achievements {
  background-color: #e2edff;
}

section {
  padding-top: 5rem;
}

.footer a {
  color: black;
  font-size: 20px;
}
